
@{
    ViewBag.Title = "Index";
}


<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1> <span>Kütüphanemize </span> Hoşgeldiniz</h1>


                <div class="btns">

                    <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Giriş Yap</a>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div>
                        <img src="
                             /Content/assets/img/5.jpg" style="width:700px; height:700px;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content ">
                    <br /><br /><br />    <br /><br /><br /><br /><br /><br /><br />

                    <h3 class="text-center">İstanbulun gözdesi</h3>
                    <br />
                    <p class="fst-italic text-center ">
                        İstanbulda yer alan bu kütüphanenin oldukça köklü bir geçmişi bulunuyor. İstanbulun merkezinde bulunan bu kütüphanede hem iç hem dış mimari oldukça dikkat çekiyor.

                    </p>
                    <p class="fst-italic text-center ">

                        Ulaşım açısından merkezde bulunan İstanbul Kütüphanesi tramvay,metrobüs ve metroya yürüme mesafesindedir. Kütüphanede yaklaşık 5000.000 yakın kitap bulunmaktadır.
                        Ders çalışmak isteyenler için ayrıca masalar ve bilgisayar bulunmaktadır.
                    </p>


                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Galeri</h2>
                <p>Kütüphanemizden bazı fotoğraflar</p>
            </div>
        </div>

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-0">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Content/assets/img/1.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/Content/assets/img/1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/Content/assets/img/2.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/Content/assets/img/2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/Content/assets/img/3.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/Content/assets/img/3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/Content/assets/img/4.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/Content/assets/img/4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>




                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/Content/assets/img/6.jpg" class="gallery-lightbox" data-gall="gallery-item" style="height:100px; width:100px;">
                            <img src="/Content/assets/img/6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/Content/assets/img/7.jpg" class="gallery-lightbox" data-gall="gallery-item" style="height:100px; width:100px;">
                            <img src="/Content/assets/img/7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/Content/assets/img/8.jpg" class="gallery-lightbox" data-gall="gallery-item" style="height:70%; width:70%;">
                            <img src="/Content/assets/img/8.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/Content/assets/img/9.jpg" class="gallery-lightbox" data-gall="gallery-item" style="height:100px; width:100px;">
                            <img src="/Content/assets/img/9.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/Content/assets/img/10.jpg" class="gallery-lightbox" data-gall="gallery-item" style="height:100px; width:100px;">
                            <img src="/Content/assets/img/10.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/Content/assets/img/11.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/Content/assets/img/11.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/Content/assets/img/12.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/Content/assets/img/12.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End Gallery Section -->
    <!-- ======= Contact Section ======= -->


</main><!-- End #main -->
